
.hide {
  position: fixed;
  visibility: hidden;
}

.textshow {
  visibility: visible;
}

.textpop {
	width: 500px;
	height: 620px;
	color: white;
	right: 50px;
	top: 50px;
	z-index: 3;
	padding: 20px;
	position: fixed;
	pointer-events: none;}
}




.small {width: 50px;}


.text2019 {right: 0px;}

.right {right: 0px;}



