.grid {
	display: flex;
	flex-wrap:wrap;
	
}

.space {height: 80px;}

.box {height: 72px;
width: 72px;
border: solid 2px black;}

.box:hover {background-color: black;}

.col {
	padding: 20px;

}

.smol {flex:0 0 5%;}

.content {
	padding: 25px;
}

.w-custom {
	flex: 0 0 47.5%;

}

.w-1of1 {
	flex:0 0 100%;
}

.w-1of2 {
	flex:0 0 50%;
}

.home {
	flex:0 0 40%;
	position: fixed;
	right: 80px;
	top: 90px;
}

.w-1of3 {
	flex:0 0 33.33%;
}



