body {
	background-color: black;
}

a {text-decoration: none;
color: white;}

a:hover {
  color: #3248aa;
}

.gri {
	font-family: courier;
	color: white;
	font-size: 12px;
    font-size: 3vw;}

	.subhead {font-size: 8px;
    font-size: 2vw;
color: #3248aa;
font-family: courier;}

.blue {color: #3248aa;}

.insta {font-size: 12px;
    font-size: 1.5vw;
color: white;
text-decoration: none;
font-family: courier;}

.email {font-size: 12px;
    font-size: 1.5vw;
color: white;
font-family: courier;}

.infom {
font-family: courier;
	font-size: 8px;
    font-size: 0.8vw;
    text-align: right;
color: white;}

.info {
	font-size: 12px;
    font-size: 1.5vw;
color: white;
font-family: courier;}

.info:hover {
  color: #3248aa;
}

.blue:hover {
  color: white;
}

.about {font-size: 6px;
    font-size: 2vw;
color: white;
font-family: courier;
text-align: center;}

.playlist {font-size: 12px;
    font-size: 1.5vw;
color: white;
font-family: courier;}

.bottom {
bottom:5%;
position: fixed;}

.line {
  display: block;
 border-color: #3248aa;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}


.sidebar {
	position: fixed;
	width:25%;
	top:0px;
	left:0px;
	height:100vh;
	font-size: 3vw;
	background-color: black;
}

.sidebar-content {
	padding: 10px;
}

.main-content {
	color: white; 
}

.listing {
	margin-bottom: 3vw;
	font-size: 3vw;
	text-transform: uppercase;
}



.slide {font-size: 8px;
    font-size: 2vw;}














.grid {
	display: flex;
	flex-wrap: wrap;
}

.left {
	color: blue;
	flex:0 0 30%;
	height: 100vh;
	overflow: scroll;
}

.left-content {
	padding: 10px;
}

.right {
	
	flex:0 0 70%;
	height: 100vh;
	overflow: scroll;	
}

.right-content {
	padding: 10px;
	padding-right: 15%;
	padding-left: 15%;
}

.right img {
	width: 100%;
}
