
body {border-color: black;}

.gri {
	font-family: courier;
	color: white;
	font-size: 45px;}

.subhead {font-size: 20px;
color: #3248aa;
font-family: courier;}

.blue {color: #3248aa;}

.insta {font-size: 20px;
color: white;
text-decoration: none;
font-family: courier;}

a {text-decoration: none;
color: white;}

.email {font-size: 20px;
color: white;
font-family: courier;}

.info {font-size: 20px;
color: white;
font-family: courier;}

.about {font-size: 15px;
color: white;
font-family: courier;
text-align: center;}

.playlist {font-size: 20px;
color: white;
font-family: courier;}

.bottom {
bottom:5%;
position: fixed;}



.line {
  display: block;
 border-color: #3248aa;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}

.sidebar {
	position: fixed;
	width:25%;
	top:0px;
	left:0px;
	height:100vh;
	font-size: 3vw;
	background-color: black;
}

.sidebar-content {
	padding: 10px;
}

.main {

	width:75%;
	height: 100%;
	margin-left: 25%;
	background-color: black;
}

.main-content {
	padding: 50px;
	color: white; 
}

.listing {
	margin-bottom: 3vw;
	font-size: 3vw;
	text-transform: uppercase;
}

/*.thumbnail {
	flex: 0 0 33.33%;
}*/

.thumbnail-content {
	padding: 10px;
	padding-left: 100px;
}

.thumbnail img {
	width:80%;
}

