body {
	background-color: #050506;
}

a {text-decoration: none;
color: white;}

a:hover {
  color: #3248aa;
}

.box {width: 100%;
	height: 175px;
background-color: #050506;
display: fixed;
}

.main {display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.title {
	width: 100%;
	font-family: neuzeit-grotesk, sans-serif;
font-weight: 400;
font-style: normal;
	color: white;
	display: flex;
	bottom: 60px;
	position: absolute;
}

.gt {font-size: 30px;
left: 30px;
position: absolute;
}

.ar {font-size: 30px;
right: 30px;
position: absolute;
z-index: 2;
color: white;
}

.ar:hover {
  color: #3248aa;
}


@media only screen and (min-width: 768px) {
	.box { height: 210px; }

	.title { bottom: 80px; }

	.gt { font-size: 50px; }
	.ar { font-size: 50px; }
}


@media only screen and (min-width: 1000px) {
	.box { display: none; }

	.main {display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;}

	.title { bottom: 80px; }

	.gt { font-size: 50px; }
	.ar { font-size: 50px; }
}