.title {
	font-size: 24vw;
	text-align: center;
}

.contents {
	width: 75%;
	height:100%;
	position: fixed;
	bottom:0px;
	right:0px;
	background-color: black;
	margin-right: -75%;
	overflow: scroll;
	transition: 0.5s;
}

.infocontent {
	font-size: 30px;
color: white;
font-family: courier;
padding: 100px;
}

.left {
	margin-right: 0%;
	transition: 0.5s;
}

.info {
	cursor: pointer;
}

.arrow {
	cursor: pointer;
}