
.hide {
  position: fixed;
  visibility: hidden;
}

.textshow {
  visibility: visible;
}

.textpop {
	position: fixed;
	font-size: 60px;
	color: white;
	background-color: black;
	opacity: 0.6;
	width: 47.5%;
	height: 675px;
	padding: 20px;
}

.text2019 {right: 0px;}